.main-home-image img{
 width:100%;
 background-color: black;
 filter: brightness(50%);
}

.main-text-home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

.main-text-home-title{
    font-size: 4.5em;
    font-weight: 300;
    margin-bottom:10px;
}

.main-text-home-text{
    font-size:1.5em;
    margin-bottom:20px;
}

.sub-text-home{
    font-size:1.5em;
}

.explorer-cont{
    width:100%;
    margin-top: 64px;
    margin-bottom: 128px;
    display:flex;
    justify-content: center;
}