.main-home-image img{
 width:100%;
 background-color: black;
 filter: brightness(50%);
}

.main-text-home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

.main-text-home-title{
    font-size: 4.5em;
    font-weight: 300;
    margin-bottom:10px;
}

.main-text-home-text{
    font-size:1.5em;
    margin-bottom:20px;
}

.sub-text-home{
    font-size:1.5em;
}

.explorer-cont{
    width:100%;
    margin-top: 64px;
    margin-bottom: 128px;
    display:flex;
    justify-content: center;
}

.bouncing-arrow{
    font-size: 32px;
    animation: bounce 2s infinite;
    filter: brightness(50%);
    margin-top:342px;
}
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(0px);
    }
  }