.main-home-image img{
 width:100%;
 background-color: black;
 filter: brightness(50%);
 animation: fadeIn 0.5s ease-in;
}

.main-text-home{
  position: absolute;
  top: calc(50% - 48px);
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  animation: fadeIn 1.5s ease-in;
  text-align: center;
  
}

.main-home-image a{
  color: #0988e8;
  
}

.main-text-home-title{
    font-size: 4.5em;
    font-weight: 300;
    margin-bottom:10px;
}

.main-text-home-text{
    font-size:1.5em;
    margin-bottom:20px;
}

.sub-text-home{
    font-size:1.5em;
}

.explorer-cont{
    width:100%;
    margin-top: 64px;
    margin-bottom: 128px;
    display:flex;
    justify-content: center;
}

.bouncing-arrow{
    font-size: 32px;
    animation: bounce 2s infinite, fadeIn 1.5s ease-in;
    filter: brightness(50%);
    margin-top:342px;
  color:white;
  position: absolute;
  top: calc(50% - 48px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
  @keyframes bounce {
    0% {
      transform: translateY(0);

    }

    100% {
      transform: translateY(0);
    }

    20%, 50%, 80% {
      transform: translateY(0);
    }
    
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(0px);
    }
  }

  @media (max-width: 600px) {
    .main-text-home-title{
      font-size: 1.45em;
      font-weight: 300;
      margin-bottom:10px;
  }
  
  .main-text-home-text{
      font-size:1.0em;
      margin-bottom:20px;
  }
  .main-home-image img{
    height:100vh;
  }

  }