.main-header{
    font-family: "Inter18";
    font-size: 20px;

    width:100%;
    padding-top:32px;
    padding-bottom: 16px;
    height:36px;
    line-height: 36px;

    display:flex;
    justify-content: space-between;
}

.main-name{
    font-weight: 700;
}

.name-last{
    color:#0988e8;
}

.main-links{
    display:flex;
    gap:15px;
}

.main-links a{
    color:black;
}

.activeNow{
    text-decoration: underline;
    text-decoration-color:#0988e8;
}