.main-header{
    font-family: "Inter18";
    font-size: 22px;

    width:calc(100% - 5.45em);
    padding-top:32px;
    padding-bottom: 16px;
    height:36px;
    line-height: 36px;
    padding-left: 2em;
    padding-right:2em;
   

    display:flex;
    justify-content: space-between;
    color:white;
    backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.005);
    z-index: 10001;
    animation: fadeIn 1.5s ease-in;
}

.main-name{
    font-weight: 700;
    color:white;
}

.name-last{
    color:#0988e8 !important;
}

.main-links{
    display:flex;
    gap:15px;
}

.main-links a{
    color:White;
}

.black .main-links a{
    color:black !important;
}

.activeNow{
    text-decoration: underline;
    text-decoration-color:#0988e8;
}

.black .main-name{
    color:black !important;
}

@keyframes fallIn {
    0% { 
        top:-20px;; 
        opacity: 0;
    
    
    }
    100% { 
        top:0px;;  
        opacity: 1;
    }
  }

.name-last{
    animation: fallIn 1.5s;
    position:relative;
   
}